.brand {
  height: 100%;
  min-width: fit-content;
  justify-content: space-between;
  background-color: inherit;
  color: inherit;
  gap: var(--space-2);
}

.brandlogo {
  height: 100%;
  aspect-ratio: 1/1;
  background-color: inherit;
}

.brandname {
  height: 100%;
  width: fit-content;
  background-color: inherit;
  color: inherit;
  font-size: var(--text-2xl);
  font-weight: var(--fw-bold);
}