.userSideBar {
  width: var(--sidebar-width);
  height: fit-content;
  padding: var(--space-4) var(--space-3);
  background-color: var(--color-primary-light);
  border-radius: 0 0 0 var(--radius-md);
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
  position: absolute;
  top: var(--header-height);
  right: 0;
}