/* .header {
  width: 100%;
  height: var(--header-height);
  padding: var(--space-3) var(--container-padding);
  justify-content: flex-start;
  background-color: var(--color-primary);
  color: var(--text-inverse);
}

.brand {
  height: 100%;
  min-width: fit-content;
  justify-content: space-between;
  background-color: inherit;
  color: inherit;
  gap: var(--space-2);
}

.brandlogo {
  height: 100%;
  aspect-ratio: 1/1;
  background-color: inherit;
}
.brandname {
  height: 100%;
  width: fit-content;
  background-color: inherit;
  color: inherit;
  font-size: var(--space-5);
}

.captionName {
  height: 100%;
  width: fit-content;
  background-color: inherit;
  color: inherit;
  font-size: inherit;
}

.nav {
  composes: header;
  flex: 1;
  padding: var(--space-3) 0 var(--space-3) var(--container-padding);
  justify-content: flex-end;
}

.button {
  height: 100%;
  width: fit-content;
  padding: var(--space-1) var(--space-1);
  border-radius: var(--radius-sm);
  cursor: pointer;
  white-space: nowrap;
  gap: var(--space-1);
}

.icon {
  height: 100%;
  min-height: 100%;
  aspect-ratio: 1/1;
} */
