.container {
  width: 100%;
  min-height: 50vh;
  margin-top: var(--header-height);
  padding: var(--space-5) var(--container-padding);
  background-color: var(--bg-section);
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  height: 100%;
  padding: var(--space-4);
  border: var(--border-width-lg) solid var(--border-dark);
  border-radius: var(--radius-xl);
  box-shadow: var(--shadow-lg);

  display: flex;
  flex-direction: column;
  gap: var(--space-3);
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.fieldset {
  border: none;
  padding: var(--space-2);
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
  border-radius: var(--radius-md);
}

.legend {
  padding: 0 var(--space-2);
  display: flex;
  gap: var(--space-2);
  justify-content: center;
  align-items: center;
}

.inputGroup {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: var(--space-1);
}

.label {
  width: 50%;
  font-size: var(--text-base);
  font-weight: var(--fw-semibold);
  white-space: nowrap;
}

.input {
  flex: 1;
  padding: var(--space-2) var(--space-2);
  border-radius: var(--radius-md);
  font-size: var(--text-base);
  border: 1px solid transparent;
  outline: none;
  transition: border var(--transition-fast);
}

.input:focus {
  border: 1px solid var(--border-dark);
}

.buttonContainer {
  border-top: 1px solid var(--border-dark);
  padding: var(--space-3) 0;
  display: flex;
  gap: var(--space-2);
}

.resetButton,
.submitButton {
  flex: 1;
  padding: var(--space-2) var(--space-3);
  color: var(--text-primery);
  border: var(--border-width-md) solid var(--border-dark);
  border-radius: var(--radius-md);
  font-size: var(--text-md);
  font-weight: var(--fw-medium);
  letter-spacing: 1px;
  white-space: nowrap;
  cursor: pointer;
}

.resetButton:hover,
.submitButton:hover,
.forgotPassword .forgotPasswordBtn:hover {
  background-color: var(--color-primary-light-alpha);
}

.formFooter {
  display: flex;
  gap: var(--space-2);
}

.signupBtn {
  color: var(--color-info);
  cursor: pointer;
}

.error {
  margin: var(--space-1);
  padding: var(--space-1) var(--space-2);
  background-color: var(--color-danger-bg);
  color: var(--color-danger);
  border-radius: 0 var(--radius-sm) var(--radius-sm) 0;
  border-left: var(--border-width-lg) solid var(--color-danger);
}

.fieldset > legend {
  padding-bottom: var(--space-2);
  margin-bottom: var(--space-2);
  font-size: var(--text-2xl);
  font-weight: var(--fw-semibold);
  border-bottom: 1px solid var(--border-dark);
  text-align: center;
}

.btnContainer {
  display: flex;
  gap: var(--space-1);
}
