.cardWrapper {
  width: 100%;
  padding: var(--space-2);
  background-color: inherit;
  color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
  gap: var(--space-2);
    border: var(--border-width-md) solid var(--border-dark);
    border-radius: var(--radius-md);

}
