.container {
  aspect-ratio: 1 / 1;
  min-width: 2rem;
  width: var(--space-5);
  max-width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--border-dark);
  border-radius: var(--radius-sm);
}

.letter {
  background-color: inherit;
  color: inherit;
  font-size: var(--text-xl);
  font-weight: var(--fw-bold);
  -webkit-text-stroke: 1px;
}

.containerType2 {
  height: 100%;
  width: fit-content;
  padding: var(--space-1) var(--space-2);
  border-radius: var(--radius-sm);
  cursor: pointer;
  white-space: nowrap;
  gap: var(--space-1);
  background-color: var(--text-inverse);
}

.letterType2 {
  height: 100%;
  max-height: var(--text-base);
  aspect-ratio: 1/1;
  color: var(--color-primary);
  text-align: center;
  font-size: var(--text-base);
  font-weight: var(--fw-bold);
  -webkit-text-stroke: 1px;
}
